<div class="row">
    <section data-ng-controller="JobsController">
        <div class="jumbotron text-center landing-bg">
            <br>
            <div class="row">
                <p class="lead">
                    <h1 class="text-shadowed">Get Hired : Help others</h1>
                    <h3 class="col-xs-12">
                        <small>
                            Save Time by Finding Online | Hassle free | Trust Worthy Jobs
                        </small>
                    </h3>
                </p>
            </div>
            <!-- Search Area -->
            <div class="row text-center">
                <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-2">
                    <div class="input-group text-center">
                        <input type="text" class="form-control cl" placeholder="Title, location, category" ng-model="findJob">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="#!/jobs/create">
                        <button type="submit" class="btn btn-success  btn-lg">Post a Job</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Job listings -->
<div class="row combine">
    <section data-ng-controller="JobsController" data-ng-init="find()" class="col-xs-12 col-sm-7 list-bg">
        <div class="row">
            <h3>
                <small>
                    See what your friends are saying
                </small>
            </h3>
        </div>
        <div class="row">
            <div class="row">
                <ul class="nav nav-tabs tab-sp" role="tablist">
                    <li class="active"><a href="#">Jobs</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="list-group">
            <a data-ng-repeat="job in jobs | filter: findJob" data-ng-href="#!/jobs/{{job._id}}" class="list-group-item">
                <div class="row">
                    <div class="col-xs-3 col-sm-2-offset-1 text-center">
                        <div class="row">
                            <div class="col-sm-8">
                                <!-- Job Image -->
                                <img ng-src="{{job.image}}" alt="Image of Job" style="height:100px; width:100px;">
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <!-- link to apply for Job -->
                                <small>
                                    <span data-ng-bind="job.apply"></span>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="row">
                            <!-- Title of Job -->
                            <h4 class="list-group-item-heading" data-ng-bind="job.title"></h4>
                        </div>
                        <div class="row">
                            <!-- Description -->
                            <small class="list-group-item-text">
                                <span data-ng-bind="job.description"></span>
                            </small>
                        </div>
                        <div class="row">
                            <!-- number of comments -->
                            <small class="list-group-item-text pull-right">
                                <span data-ng-bind="job.comments.length"></span>&nbsp comment(s)
                            </small>
                        </div>
                    </div>
                    <!--             <div class="col-sm-2 col-xs-12">
                <div>
                    <small>upvotes</small>
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    {{job.votes.upvotes}}
                </div>
                <div>
                    <br>
                </div>
                <div>
                    <small>Downvotes</small>
                    <span class="glyphicon glyphicon-thumbs-down" ng-click="incrementDownvotes(job.votes)"></span>
                    {{job.votes.downvotes}}
                </div>
            </div> -->
                </div>
            </a>
        </div>
        <div class="alert alert-warning text-center" data-ng-hide="!jobs.$resolved || jobs.length">
            No Jobs yet, why don't you <a href="/#!/jobs/create">create one</a>?
        </div>
    </section>
    <!-- Jobs under Categories -->
    <section data-ng-controller="CategoriesController" data-ng-init="find()" class="col-md-4  cat-bg">
        <div class="page-header">
            <h3>Job Categories</h3>
        </div>

        <div class="list-group">
            <a data-ng-repeat="category in categories" data-ng-href="#!/categories/{{category._id}}" class="list-group-item">
                <small class="list-group-item-text">
                    Posted on
                    <span data-ng-bind="category.created | date:'medium'"></span>
                    by
                    <span data-ng-bind="category.user.displayName"></span>
                </small>
                <h4 class="list-group-item-heading" data-ng-bind="category.name">
                </h4>
            </a>
        </div>
        <div class="alert alert-warning text-center" data-ng-hide="!categories.$resolved || categories.length">
            No Categories yet, why don't you <a href="/#!/categories/create">create one</a>?
        </div>
    </section>
</div>
</div>
<div class=" row col-md-12 text-center bg-primary">
    The Andela Institute (TIA)
</div>
